.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    margin: 5px;
    padding: 10px 20px;
}

.logo{
    font-size: 30px;
    font-weight: 600;
}

.btn{
    padding: 10px 20px;
}