* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.parent{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 350px;
  border: 2px solid white;
  background-color: #222;
  padding: 20px 0;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.card .name{
  margin-top: 20px;
}

.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0;
}

.card button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}