* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: white;
  color: black; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  /* height: 100%;
  width: 100%; */
  background-color: #3c0c94;
}

.Card{
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.parent{
  padding: 15px;
  background-color: white;
  /* height: 50vh; */
  width: 20vw;
  border-radius: 15px;
}

.top{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #333; */
}

.top img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.top .save{
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  border-radius: 5px;
  background-color: #c7c7c7;
  padding: 4px 5px;
}

.center .firstDiv{
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.center .firstDiv span{
  margin-left: 10px;
  font-size: 12px;
  opacity: 0.7;
}

.center .span1{
  font-size: 24px;
}

.center .spans{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.center .spans span{
  padding: 2.5px 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #c7c7c7;
}

.center .span2{
  margin-right: 10px;
}

.bottom{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .left div{
  font-size: 18px;
  font-weight: 600;
}

.bottom .left h5{
  font-size: 12px;
  opacity: 0.7;
}

.bottom .right button{
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}