* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif ;
  background-color: rgb(80, 80, 80);
}

input{
  outline: none;
}

input,button{
  margin: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: rgb(158, 158, 158);
  font-size: 40px;
}